@import "./variaveis.scss";

.painel-geral {
    height: 150px;
    padding: 1rem 0;
    background: rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 5px 15px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.confirmados {
    width: 150px;
}

header {
    height: 20vh;
    padding: 20px 20px 0 20px;
}

.logo {
    padding: 20px;
    line-height: 2em;
    display: inline-block;
    width: 25%;
    text-indent: -9999px;
    background: url("../../images/logo.svg") no-repeat;
    background-size: 100%;
}

.titulo-cabecalho {
    width: 75%;
    color: $cor-branco;
    font-weight: bold;
    font-size: $texto-medio;
    text-decoration: underline;
    text-align: right;
}