/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "./variaveis.scss";
@import "./medias.scss";

/* CONFIG GERAL */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* CONFIG CABEÇALHO */
header {
    height: 90px;
    padding: 20px 20px 0 20px;
    margin-bottom: 30px;
}

.logo {
    padding: 20px;
    line-height: 32px;
    display: inline-block;
    text-indent: -9999px;
    background: url("../../images/logo.svg") no-repeat;
    background-size: 100%;
}

.titulo-cabecalho {
    width: 100%;
    color: $branco;
    font-weight: bold;
    text-align: right;
}

/* CONFIG PAINEL GERAL */
.painel-geral {
    padding: 12px 5px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -moz-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 5px 15px 0 rgba(31, 38, 135, 0.2);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.bloco-infos {
    padding: 8px;
    border-radius: 20px;
    background: linear-gradient(180deg, #f4f3f3 60.36%, rgba(255, 255, 255, 0.18) 110%);
    border: none;
}

.titulo {
    text-align: center;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 7%;
    margin-bottom: 5px;
}

.infos-detalhadas {
    width: 80%;
    margin: 0 auto;
}

/* CONFIG BLOCO CASOS */
.titulo-confirmados {
    color: $azul;
    background-image: url("../../images/ret-azul.svg");
}

/* CONFIG BLOCO ÓBITOS */
.titulo-obitos {
    color: $verde;
    background-image: url("../../images/ret-verde.svg");
}

/* CONFIG BLOCO RECUPERADOS */
.sem-bg {
    background: none;
}

.info-recuperados {
    padding: 8px;
    border-radius: 20px;
    background: linear-gradient(180deg, #f4f3f3 60.36%, rgba(255, 255, 255, 0.18) 110%);
    border: none;
}

.titulo-recuperados {
    color: $azul-escuro;
    background-image: url("../../images/ret-azul-escuro.svg");
}