@media(max-width: 639px) {
    .titulo {
        background-position: 96% 80%;
    }
}

@media(min-width: 640px) {
    .titulo {
        background-position: 87.5% 77%;
    }
}

@media(min-width: 768px) {
    .titulo {
        background-position: 87.5% 89%;
    }
}