@media(max-width: 639px) {
    .titulo {
        background-position: 96% 70%;
    }
}

@media(min-width: 640px) {
    .titulo {
        background-position: 87.9% 79%;
    }
}

@media(min-width: 768px) {
    .titulo {
        background-position: 87.5% 89%;
    }
}